.navbar{
    width:100%vh;
    height: 50px;
    background-color: aqua;
    font-size: xx-large;
    justify-content: space-evenly;
    display: flex;
    padding:25px;
}
*{
    margin: 0px;
}

.Home{
    text-decoration: none;
    color: black;
}
.Home:active{
    background-color: blue;
}
.About{
     text-decoration: none;
    color: black;
}
.Contact{
     text-decoration: none;
    color: black;
}